<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AngularChat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse flex  collapse d-sm-inline-flex justify-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex justify-end">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
         

          <li class="nav-item" *ngIf="usercontroller.isAuth == false" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="usercontroller.isAuth == false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="usercontroller.isAuth == true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark cursor-pointer" (click)="usercontroller.logout()">Logout</a>
          </li>
          <!-- <li>
            {{usercontroller.Token}}
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
